@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "_Layout";
}


<style>

    table {
        margin: auto;
        background-color: white;
        text-align: center;
    }

    td {
        width: 20px;
        height: 20px;
    }

    h1 {
        text-align: center;
        /*color: white;*/
    }

    .amarillo {
        background-color: yellow;
        text-align: center;
    }

    .verde {
        background-color: green;
        text-align: center;
    }

    .azul {
        background-color: blue;
        text-align: center;
    }

    .rojo {
        background-color: red;
        text-align: center;
    }

    .gris {
        background-color: gray;
        text-align: center;
    }

    #vacio {
        background-color: black;
    }

/*    img {
        width: 200px;
        height: 200px;
    }*/
    .parent {
        position: relative;
        top: 0;
        left: 0;
    }

    .image1 {
        position: relative;
        width: 200px;
        height: 200px;
        top: 0;
        left: 0;
    }

    .ficha1 {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 65px;
        left: 20px;
        cursor: pointer;
    }
    .ficha2 {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 65px;
        left: 150px;
        cursor: pointer;
    }
    .ficha3 {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 155px;
        left: 80px;
        cursor: pointer;
    }
</style>
<div class="text-center">
    <h3 class="display-4"><b>Juego {Identificacion}</b></h3>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>

<div class="container" id="datoCreacion">
    <h4>Jugador:</h4>
    <div class="row">
        <div class="col">
            <p><b>Turno de: </b></p>
        </div>
    </div>

</div>

<table border="1px" id="tableroPrincipal">
    <!-- 1 -->
    <tr>
        <td class="amarillo" colspan="7" rowspan="7">
            <div class="parent">
                <img class="image1" src="~/img/esquinaAmarilla.png" />
                <img class="ficha1" src="~/img/fichaAmarilla.png" id="jugador0Ficha0Amarillo"onclick="getFichaMovimiento(this.id)"/>
                <img class="ficha2" src="~/img/fichaAmarilla.png" id="jugador0Ficha1Amarillo"onclick="getFichaMovimiento(this.id)"/>
                <img class="ficha3" src="~/img/fichaAmarilla.png" id="jugador0Ficha2Amarillo"onclick="getFichaMovimiento(this.id)"/>
            </div>
        </td>
        <td colspan="2" id="1pos">1</td>
        <td class="gris" colspan="2"id="68pos">68</td>
        <td colspan="2" id="67pos">67</td>
        <td class="verde" colspan="7" rowspan="7">
            <div class="parent">
                <img class="image1" src="~/img/esquinaVerde.png" />
                <img class="ficha1" src="~/img/fichaVerde.png" id="jugador1Ficha0Verde"onclick="getFichaMovimiento(this.id)"/>
                <img class="ficha2" src="~/img/fichaVerde.png" id="jugador1Ficha1Verde"onclick="getFichaMovimiento(this.id)"/>
                <img class="ficha3" src="~/img/fichaVerde.png" id="jugador1Ficha2Verde"onclick="getFichaMovimiento(this.id)"/>
            </div>
        </td>
    </tr>
    <!-- 2 -->
    <tr>
        <td colspan="2" id="2pos">2</td>
        <td class="amarillo" colspan="2">-</td>
        <td colspan="2" id="66pos">66</td>
    </tr>
    <!-- 3 -->
    <tr>
        <td colspan="2" id="3pos">3</td>
        <td class="amarillo" colspan="2">-</td>
        <td colspan="2" id="65pos">65</td>
    </tr>
    <!-- 4 -->
    <tr>
        <td colspan="2" id="4pos">4</td>
        <td class="amarillo" colspan="2">-</td>
        <td colspan="2" id="64pos">64</td>
    </tr>
    <!-- 5 -->
    <tr>
        <td class="amarillo" colspan="2" id="5pos">5</td>
        <td class="amarillo" colspan="2">-</td>
        <td colspan="2" class="gris" id="63pos">63</td>
    </tr>
    <!-- 6 -->
    <tr>
        <td colspan="2" id="6pos">6</td>
        <td class="amarillo" colspan="2">-</td>
        <td colspan="2" id="62pos">62</td>
    </tr>
    <!-- 7 -->
    <tr>
        <td colspan="2" id="7pos">7</td>
        <td class="amarillo" colspan="2">-</td>
        <td colspan="2" id="61pos">61</td>
    </tr>
    <!-- 8 -->
    <!-- Primera línea justo debajo de los grandes -->
    <tr>
        <td rowspan="2" id="16pos">16</td>
        <td rowspan="2"id="15pos">15</td>
        <td rowspan="2" id="14pos">14</td>
        <td rowspan="2" id="13pos">13</td>
        <td rowspan="2" class="gris" id="12pos">12</td>
        <td rowspan="2" id="11pos">11</td>
        <td rowspan="2" id="10pos">10</td>
        <td id="vacio"></td>
        <td id="8pos">8</td>
        <td>-</td>
        <td>-</td>
        <td id="60pos">60</td>
        <td id="vacio"></td>
        <td rowspan="2" id="58pos">58</td>
        <td rowspan="2" id="57pos">57</td>
        <td class="verde" rowspan="2" id="56pos">56</td>
        <td rowspan="2" id="55pos">55</td>
        <td rowspan="2" id="54pos">54</td>
        <td rowspan="2" id="53pos">53</td>
        <td rowspan="2" id="52pos">52</td>
    </tr>
    <!-- 9 -->
    <tr>
        <td id="9pos">9</td>
        <td colspan="4" rowspan="4"><img src="~/img/centro.png" /></td>
        <td id="59pos">59</td>
    </tr>
    <!-- 10 -->
    <tr>
        <td class="gris" rowspan="2" id="17pos">17</td>
        <td class="azul" rowspan="2">|</td>
        <td class="azul" rowspan="2">|</td>
        <td class="azul" rowspan="2">|</td>
        <td class="azul" rowspan="2">|</td>
        <td class="azul" rowspan="2">|</td>
        <td class="azul" rowspan="2">|</td>
        <td>|</td>
        <td>|</td>
        <td class="verde" rowspan="2">|</td>
        <td class="verde" rowspan="2">|</td>
        <td class="verde" rowspan="2">|</td>
        <td class="verde" rowspan="2">|</td>
        <td class="verde" rowspan="2">|</td>
        <td class="verde" rowspan="2">|</td>
        <td class="gris" rowspan="2" id="51pos">51</td>
    </tr>
    <!-- 11 -->
    <tr>
        <td>|</td>
        <td>|</td>
    </tr>
    <!-- 12 -->
    <tr>
        <td rowspan="2" id="18pos">18</td>
        <td rowspan="2" id="19pos">19</td>
        <td rowspan="2" id="20pos">20</td>
        <td rowspan="2" id="21pos">21</td>
        <td class="azul" rowspan="2" id="22pos">22</td>
        <td rowspan="2" id="23pos">23</td>
        <td rowspan="2" id="24pos">24</td>
        <td id="25pos">25</td>
        <td id="43pos">43</td>
        <td rowspan="2" id="44pos">44</td>
        <td rowspan="2" id="45pos">45</td>
        <td rowspan="2" class="gris" id="46pos">46</td>
        <td rowspan="2" id="47pos">47</td>
        <td rowspan="2" id="48pos">48</td>
        <td rowspan="2" id="49pos">49</td>
        <td rowspan="2" id="50pos">50</td>
    </tr>
    <!-- 13 -->
    <tr>
        <td id="vacio"></td>
        <td id="26pos">26</td>
        <td>-</td>
        <td>-</td>
        <td id="42pos">42</td>
        <td id="vacio"></td>
    </tr>
    <!-- 14 -->
    <tr>
        <td class="azul" colspan="7" rowspan="7">
            <div class="parent">
                <img class="image1" src="~/img/esquinaAzul.png" />
                <img class="ficha1" src="~/img/fichaAzul.png" id="jugador2Ficha0Azul"onclick="getFichaMovimiento(this.id)"/>
                <img class="ficha2" src="~/img/fichaAzul.png" id="jugador2Ficha1Azul"onclick="getFichaMovimiento(this.id)"/>
                <img class="ficha3" src="~/img/fichaAzul.png" id="jugador2Ficha2Azul"onclick="getFichaMovimiento(this.id)"/>
            </div>
        </td>
        <td colspan="2" id="27pos">27</td>
        <td class="rojo" colspan="2">-</td>
        <td colspan="2" id="41pos">41</td>
        <td class="rojo" colspan="7" rowspan="7">
            <div class="parent">
                <img class="image1" src="~/img/esquinaRoja.png" />
                <img class="ficha1" src="~/img/fichaRoja.png" id="jugador3Ficha0Rojo" onclick="getFichaMovimiento(this.id)"/>
                <img class="ficha2" src="~/img/fichaRoja.png" id="jugador3Ficha1Rojo" onclick="getFichaMovimiento(this.id)"/>
                <img class="ficha3" src="~/img/fichaRoja.png" id="jugador3Ficha2Rojo" onclick="getFichaMovimiento(this.id)"/>
            </div>
        </td>
    </tr>
    <!-- 15 -->
    <tr>
        <td colspan="2" id="28pos">28</td>
        <td class="rojo" colspan="2">-</td>
        <td colspan="2" id="40pos">40</td>
    </tr>
    <!-- 16 -->
    <tr>
        <td colspan="2" class="gris" id="29pos">29</td>
        <td class="rojo" colspan="2">-</td>
        <td class="rojo" colspan="2" id="39pos">39</td>
    </tr>
    <!-- 17 -->
    <tr>
        <td colspan="2" id="30pos">30</td>
        <td class="rojo" colspan="2">-</td>
        <td colspan="2" id="38pos">38</td>
    </tr>
    <!-- 18 -->
    <tr>
        <td colspan="2" id="31pos">31</td>
        <td class="rojo" colspan="2">-</td>
        <td colspan="2" id="37pos">37</td>
    </tr>
    <!-- 19 -->
    <tr>
        <td colspan="2" id="32pos">32</td>
        <td class="rojo" colspan="2">-</td>
        <td colspan="2" id="36pos">36</td>
    </tr>
    <!-- 20 -->
    <tr>
        <td colspan="2" id="33pos">33</td>
        <td class="gris" colspan="2">34</td>
        <td colspan="2" id="5pos">35</td>
    </tr>

</table>

<script src="~/js/juego.js" asp-append-version="true"></script>
